ease-in = cubic-bezier(0, .6, .4, 1)

color-white = #fff
color-black = #000
color-light = #f8f9fa
color-dark = #343a40
spacer = 1rem


html
	body
		margin 0
		display flex
		flex-flow column nowrap
		justify-content space-between
		min-height 100vh
		overflow-x hidden

		.clickable
			cursor pointer

		header
			font-size 1.4em
			padding .8em
			background #f5f5f5

			.right
				float right

			a
				color #707070
				padding 0 1em
				display inline

		main
			display flex
			margin 0 auto
			flex-grow 1

			div#messenger
				overflow-y hidden
				display flex
				flex-flow row nowrap
				height 100vh
				width 100vw

				& > div
					display flex
					flex-flow column nowrap
					justify-content space-between
					height inherit

				& > div .header
					display flex
					flex-flow row nowrap
					justify-content space-between
					align-items center

				div#settings-panel
					position relative
					flex 1 1 20%

					h3
						background color-white
						position sticky
						padding spacer
						top 0

					div.section
						padding 0 spacer * 1.5

					div#settings-container
						height inherit
						overflow-y auto

				div#chat-panel
					flex 1 1 40%

					div#chat-container
						height inherit
						overflow-y auto
						flex 1

						div.chat
							&:hover
								background darken(color-white, 5%)

							.chat-line
								display flex
								flex-flow row nowrap
								justify-content space-between

								.chat-name, .chat-last-message
									display inline-block
									height 1.2em
									overflow hidden

								.chat-time
									max-width 60%

				div#message-panel
					flex 1 1 60%

					div#message-container
						display flex
						flex-flow column nowrap
						align-items flex-start
						height inherit
						overflow-y auto
						flex 1

						div.message
							cursor default
							max-width 75%
							border-radius 10px
							background-color darken(color-light, 5%)

							&:hover
								background darken(color-light, 8%)

				div#details-panel
					position relative
					flex 1 1 20%

					h3
						background color-white
						position sticky
						padding spacer
						top 0

					div.section
						padding 0 spacer * 1.5

					div#details-container
						height inherit
						overflow-y auto

		div#page-blocker
			position fixed
			top 0
			left 0
			height 100vh
			width 100vw
			background-color transparentify(color-dark, color-dark, 60%)

		div.popup
			position fixed
			top 40%
			left 50%
			transform translate(-50%, -50%)
			width max-content
			max-width 90vw
			padding 2em 3vw
			background-color color-light
			border-radius 10px

		div.menu
			min-width 120px
			min-height 20px
			position absolute
			background color-white
			border-radius 6px
			overflow hidden
			border 1px solid darken(color-light, 20%)

			.menu-element
				width 100%
				background color-light
				padding spacer * 0.5
				font-weight bold
				cursor pointer

				&:not(:last-child)
					border-bottom 1px solid darken(color-light, 20%)

				&:hover
					background-color darken(color-white, 30)
