extends ../layout


block head
	link(rel='preload' href='/js/jui.js' as='script')


block content
	div.container-xl#messenger
		div#chat-panel.d-md-flex.border-left.border-right
			div.header.bg-light.p-2.border-bottom
				button#settings-button.btn-outline-primary Settings
				nav
					button#my-profile-button.btn-outline-secondary.d-none.d-xl-inline My profile
					button#new-chat-button.btn-outline-secondary New chat
					button#new-channel-button.btn-outline-secondary.d-none.d-xl-inline New channel
			div#chat-container
		div#message-panel.d-none.border-left.border-right
			div.header.bg-light.p-2.border-bottom
				button#back-button.btn-outline-secondary.d-inline.d-md-none Back
				div#contact-info.ml-1
					h4.m-2 Contact name
					p.m-2 Last seen
				nav
					button#contact-profile-button.btn-outline-secondary.right Profile
			div#message-container
			div.dock.py-2
				form#new-message-form.form-row.border-top.mx-3
					input#message-input.mr-3(placeholder='Write a message...'
					autocomplete='off')
					input#send-button.btn.btn-primary(type='submit' value='Send')
	div#page-blocker.d-none
	script(async type='module' src='/js/messenger.js')
