doctype html

html(lang='en')
	head
		title Simply Message
		link(rel='stylesheet', href='/style/style.css')
		meta(name='description' content='Simply message is a')
		meta(name='viewport' content='width=device-width, initial-scale=1')

	body
		header
			a(href='/') Home
			a.right(href='/login/') Sign in

		main
			block content

		footer
