extends ../layout

block content
	div.jumbotron
		h1.light Welcome to Simply Message
		h3.light Simply Message is a secure open-source messenger. Try it now!
		a.btn.btn-primary(href='/register/') Sign up
		a.btn.btn-success(href='/login/') Sign in
		a.btn.btn-outline-secondary(href='/about/') Read more
